.get:hover,
.getcode,
.getcode:hover {
    text-decoration: none;
}
.slider-next,
.slider-prev,
.store-next,
.store-prev {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: absolute;
}
body {
    padding: 0;
    margin: 0;
}
.store-next,
.store-prev {
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
.get,
.getcode {
    text-align: center;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}
.store-next:hover,
.store-prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.slider-prev,
.store-prev {
    left: 10px;
}
.store-prev .store-prev-icon {
    margin-right: 5px;
}
.slider-next,
.store-next {
    right: 10px;
}
.store-next .store-next-icon {
    margin-left: 5px;
}
.store-next-icon,
.store-prev-icon {
    font-family: FontAwesome;
    font-size: 18px;
}
.store-prev-icon {
    content: "\f104";
}
.store-next-icon {
    content: "\f105";
}
.slider-next,
.slider-prev {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.slider-next-icon i,
.slider-prev-icon i {
    font-size: 30px;
    color: #fff;
}
.bg-dark {
    background-color: #000 !important;
}
.get:hover,
.store {
    background-color: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.store {
    border-radius: 20%;
    width: 20px;
    height: 20px;
}
.get {
    background-color: purple;
    border-color: purple;
    border-radius: 5px;

}
.get:hover {
    border: 2px solid purple;
    color: purple;
}
.social-icons a {
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
}
nav {
    background-color: #5d1982;
}
.getcode {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #681668;
    border: 1px solid purple;
    border-radius: 90px 30px;
    padding: 10px 20px;
}
.getcode:hover {
    background-color: #fff7f7;
    border: 2px solid purple;
    color: #000;
}
